@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
$font: 'Poppins', sans-serif;
$primaryColor: #292929;
$lightColor: #fff;

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    font-family: $font;
}

.speed {
    height: 100vh;
    background-color: $primaryColor;
    color: $lightColor;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    &__text {
        // background-color: lightblue;
        width: 800px;
        margin-bottom: 20px;
        letter-spacing: 2px;
    }
}
.correct {
    text-decoration: underline;
    text-decoration-color: green;

}

.incorrect {
    text-decoration: underline;
    text-decoration-color: red;
}
textarea {
    background-color: transparent;
    color: $lightColor;
    padding: 5px;
    font-size: 1.2rem;
}
